.menu-item {
  /* padding: 0 03px; */
  margin: 30px 2px;
  user-select: none;
  cursor: pointer;
  border: none;
  display: flex;
  box-sizing: border-box;
  border: solid black;
  transition: linear 300ms;
}

/* .center {
  transform: translateX(15%);
} */

.menu-item-wrapper.active {
  border: 1px blue solid;
}

.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.3, 1.3) translateX(10%);
  transition: linear 300ms;
  z-index: 1;
}

/* .menu-item:hover ~ .menu-item {
  transform: translateX(38%);
  transition: linear 300ms;
} */